* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins";

}

body {
  margin: 0px;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  
}

main {
  margin-left: 20px;
   margin-right: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;

}

.navbar ul {
    list-style-type:none;
    background-color: hsl(0, 0%, 25%);
    justify-content: center;
    display: flex;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
   background-color: hsl(0, 0%, 10%);
}

.navbar li {
  float: left;
}

.wrapper {
  width: 420px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  background-color:
}


